body{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;


}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}



.myLogo {
    display: inline;
    float: left;
    margin-left: 38%;
    margin-top: 0px;
    content:url("cc.png");
}

.nom {
    white-space: nowrap;
    display: inline;
    float: right;
    margin-top: 20px;
    font-size: large;
    margin-right: 39%;
}

.header {
    display: inline-block;
    width: 100%;clear:both;
    background: red;

}

#menu{
    background: #a3c3da;
    width: 300px;
    height: 100vh;
    text-align: center;
}
#contenu{
    flex: 1;
    background: #F0D291 no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.side-button{
    background:green;
    color:white;
    padding:10px 50px;
    width: 185px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
}